<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myspringtestdemo.adapter.persistence.PostMapper">
    <sql id="Base_Column_List">
        post_id,comment,user_id
    </sql>
    <insert id="savePosts">
        INSERT INTO post
        VALUES
        <foreach item="item" collection="list" separator=",">
            (#{item.postId},#{item.comment},#{item.userId})
        </foreach>
    </insert>

    <select id="findByUserId" resultType="com.example.myspringtestdemo.domain.Post">
        SELECT
        <include refid="Base_Column_List"/>
        FROM post
        <where>
            user_id = #{userId}
        </where>
    </select>


</mapper>
